@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";

@custom-variant dark (&:where(.dark, .dark *));
@font-face {
    font-family: 'Airbus Special';
    font-style: normal;
    font-weight: normal;
    src: url(aispec.woff) format('woff');
}
body {
    font-family: Roboto, sans-serif;
    color: var(--color-base-content);
}
@theme {
    --color-primary: #9c5ad0;
    --font-roboto: 'Roboto Mono';
}

