@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";

@custom-variant dark (&:where(.dark, .dark *));
@font-face {
    font-family: 'Airbus Special';
    font-style: normal;
    font-weight: normal;
    src: url(aispec.woff) format('woff');
}
body {
    font-family: Roboto, sans-serif;
    color: var(--color-base-content);
}
@theme {
    --color-base-100: oklch(95% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(100% 0 0);
    --color-base-content: #1f2937;
    --color-primary-50: #f3e8fa;
    --color-primary-100: #e3caf2;
    --color-primary-200: #d2aeea;
    --color-primary-300: #c08ee1;
    --color-primary-400: #ad70d9;
    --color-primary: #9c5ad0;
    --color-primary-600: #884ac2;
    --color-primary-700: #723f9a;
    --color-primary-800: #5a317c;
    --color-primary-900: #42245e;
    --color-primary-content: #ffffff;
    --color-secondary: #8419cc;
    --color-alt: #b7a04e;
    --font-roboto: 'Roboto';
    --font-nunito: 'Nunito';
    --font-airbus: 'Airbus Special';
    --font-logo: var(--font-airbus)
}
:root {
    @variant dark {
        --color-base-100: oklch(21.15% 0.012 254.09);
        --color-base-200: oklch(23.26% 0.014 253.1);
        --color-base-300: oklch(25.33% 0.016 252.42);
        --color-base-content: #e2e4e9;
        --color-primary-50: #fef9e0;
        --color-primary-100: #fef4cc;
        --color-primary-200: #fdeeb8;
        --color-primary-300: #fce9a3;
        --color-primary-400: #fbe58f;
        --color-primary: #FBE288FF;
        --color-primary-600: #e0ca7a;
        --color-primary-700: #c6b26c;
        --color-primary-800: #ac9a5e;
        --color-primary-900: #928250;
        --color-primary-content: #1f2937;
    }
}
html{
    background-color: var(--color-base-300);
}
.coolDrop {
    /*text-shadow: 4px 4px 0 var(--color-primary-50);*/
}
.coolDropSmall {
    /*text-shadow: 3px 3px 0 var(--color-primary-50);*/
}